<ion-view title="Login">
    <ion-content>
        <form ng-submit="vm.fazLogin()">
            <div class="list padding">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Login</span>
                    <input type="text" placeholder="Login" ng-model="vm.credenciais.login">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Senha" ng-model="vm.credenciais.senha">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Login</button>
            </div>
        </form>
    </ion-content>
</ion-view>
